@media screen and (max-width: 991px) {

    /* navbar css for mobile start */
    .nav-toggler {
        display: block;
    }

    .site-navbar {
        min-height: 60px;
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0px;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        z-index: 999;
    }

    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }

    .site-navbar ul li a {
        padding: 25px;
        color: var(--black);
    }

    .site-navbar ul li a.active {
        color: var(--red) !important;
    }

    .site-navbar ul.open {
        max-height: 100vh;
        overflow: visible;
        padding-top: 60px;
    }

}